In [10]:
import pandas as pa
from collections import Counter
range( 1, 2)

[1]

In [30]:
thing=["a", "b", "c"]
thing2=["d", "e", "f"]
outframe=pa.DataFrame( columns=thing, index=thing2 )
outframe

     a    b    c
d  NaN  NaN  NaN
e  NaN  NaN  NaN
f  NaN  NaN  NaN

In [32]:

outframe.iloc[0] = dict(a=1, c=1)
x = pa.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
outframe

     a    b    c
d    1  NaN    1
e  NaN  NaN  NaN
f  NaN  NaN  NaN

In [28]:
x.iloc[1] = dict(x=9, y=99)
x

   x   y
0  1   3
1  9  99
2  3   5

In [64]:
r=Counter({2.0: 1, 3.0: 7})
r.values() + ['='] + r.keys()
[key + ['='] + value for key, value in r.keys(), r.values() ]

TypeError: unsupported operand type(s) for +: 'float' and 'list'